<?xml version="1.0"?>
<!--
/**
 * Regenerate Url rewrites
 *
 * @package HimaMage_RegenerateUrlRewrites
 * @author Hime Mage   hima.mage@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="HimaMage_RegenerateUrlRewrites" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Store"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_CatalogUrlRewrite"/>
            <module name="Magento_UrlRewrite"/>
        </sequence>
    </module>
</config>
